.container-fluid {
  margin-top: 110px;
}

.col-md-6 {
  display: flex;
  justify-content: center;
}

@media (max-width: 1358px) {
  .col-lg-6 {
      flex: 0 0 100%;
      max-width: 100%;
  }
}

.form-control {
    margin: 1rem 0;
    width: 1760px;
  }
  
  .form-control label,
  .form-control input,
  .form-control textarea {
    /*display: block;*/
    width: 300px;
    margin-bottom: 0.25rem;
  }
  
  .form-control input,
  .form-control textarea {
    font: inherit;
  }
  
  /* .form-control input:focus,
  .form-control textarea:focus {
    outline-color: green;
  }
  
  .form-control input.invalid,
  .form-control textarea.invalid {
    border-color: red;
  }  */
